body {
    background-image: url(../image/photography.png);
    font-size: 1.8em;
}

a { 
    text-decoration: none;
    color: #006F8E;
}
a:hover { 
    text-decoration: underline;
}

.top {
    margin-top: 25%;
    margin-bottom: 5%;
    padding-bottom: 13%;
    border-bottom: solid 1px #d6d6d6;
}

.content {
    margin-top: 5%;
}

.product-name {
    margin-bottom: 5px;
    font-weight: bold;
}

.social-icon {
    display: inline-block;
    text-align: center;
}

.social-icon img {
    width: 48px;
}

.social-icon figure {
    margin: 0 20px;
}

footer {
    margin: 20px 0;
    text-align: center;
}